h1{
    font-size: 4pc;
    color: black;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folders{
    margin: 50px;
    background-color: white;
}