body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#ffb40f, #836000);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, p{
    margin: 0;
    color: white;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    height: 100px; 
    margin: 0;
    background-color: #ffffff;
}

#image-title{
    width: 30%;
}

.logoHeader{
    width: 328px;
    padding: 20px;
    margin: none;
}

#nav-icon{
    display: none;
}

.navigator{
    margin-right: 50px;
    height: auto;
}

.item{
    margin: 20px;
    padding: 20px;
    background: #ffb40f;
    border: 5px solid rgb(199, 152, 0);
    border-radius: 20px;
    font-size: 25px;
    width: 50px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item:hover{
    transition: all ease 500ms;
    background: rgb(255, 187, 42);
    font-size: 25px;
}

.error{
    color: black;
}

.text{
    color: #000;
    overflow: auto;
    height: auto;
    width: 140PX;
}

h1{
    font-size: 50px;
    overflow: auto;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: none;
}

.container{
    margin: 50px;
    background-color: white;
    padding: 5%;
    padding-top: 50px;
    border: 5px solid rgb(255, 208, 0);
    font-family: 'Roboto', sans-serif;
    width: 30%;
}

.content{
    display: flex;
    flex-direction: column;
}

#logout{
    width: auto;
}

@media only screen and (max-width: 750px){
    .navigator{
        display: flex;
        justify-content: flex-end;
        width: 80%;
    }

    .logoHeader{
        width: 100%;
    }

    .item{
        margin: 2%;
        padding: 2%;
        width: auto;
    }

    .container{
        width: 80%;
    }
}

@media only screen and (max-width: 390px){

    #image-title{
        display: none;
    }
    
    nav.navigator{
        width: 100%;
        margin-right: 0;
        justify-content: center;
    }
}